apiVersion: apps/v1
kind: Deployment
metadata:
  name: gabriella-python-app
  namespace: grupp5
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gabriella-python-app
  template:
    metadata:
      labels:
        app: gabriella-python-app
    spec:
      containers:
      - name: python-app
        image: quay.io/gabohr/guestbook-backend:latest
        resources:
          limits:
            cpu: "500m"
            memory: "512Mi"
          requests:
            cpu: "100m"
            memory: "256Mi"
        ports:
        - containerPort: 8080
        env:
        - name: DATABASE_URL
          value: "postgresql://gabriella_user:gabriella_password@gabriella-db:5432/guestbook_db"
