apiVersion: apps/v1
kind: Deployment
metadata:
  name: gabriella-db
  namespace: grupp5
  labels:
    app: gabriella-db
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gabriella-db
  template:
    metadata:
      labels:
        app: gabriella-db
    spec:
      containers:
      - name: postgres
        image: postgres:15
        ports:
        - containerPort: 5432
        env:
        - name: POSTGRES_DB
          valueFrom:
            secretKeyRef:
              name: gabriella-db-secret
              key: database
        - name: POSTGRES_USER
          valueFrom:
            secretKeyRef:
              name: gabriella-db-secret
              key: username
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: gabriella-db-secret
              key: password
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "200m"
